USE [master]
GO
/****** Object:  Database [QUANLYDIENTHOAI]    Script Date: 04/10/2024 13:49:56 ******/
CREATE DATABASE [QUANLYDIENTHOAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYDIENTHOAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYDIENTHOAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYDIENTHOAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYDIENTHOAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYDIENTHOAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYDIENTHOAI]
GO
/****** Object:  Table [dbo].[DIENTHOAI]    Script Date: 04/10/2024 13:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIENTHOAI](
	[MADT] [int] IDENTITY(1,1) NOT NULL,
	[CAUHINH] [varchar](255) NULL,
	[HINHANH] [varchar](255) NULL,
	[MANCC] [int] NULL,
	[NAMSANXUAT] [int] NULL,
	[TENDT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 04/10/2024 13:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SODIENTHOAI] [varchar](255) NULL,
	[TENNHACC] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DIENTHOAI] ON 

INSERT [dbo].[DIENTHOAI] ([MADT], [CAUHINH], [HINHANH], [MANCC], [NAMSANXUAT], [TENDT]) VALUES (1, N'Snapdragon 888', N'samsung-galaxy-s21.jpg', 1, 2021, N'Samsung Galaxy S21')
INSERT [dbo].[DIENTHOAI] ([MADT], [CAUHINH], [HINHANH], [MANCC], [NAMSANXUAT], [TENDT]) VALUES (2, N'Snapdragon 865', N'samsung-galaxy-s20.jpg', 1, 2020, N'Samsung Galaxy S20')
INSERT [dbo].[DIENTHOAI] ([MADT], [CAUHINH], [HINHANH], [MANCC], [NAMSANXUAT], [TENDT]) VALUES (3, N'Snapdragon 855', N'samsung-galaxy-s10.jpg', 1, 2019, N'Samsung Galaxy S10')
SET IDENTITY_INSERT [dbo].[DIENTHOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [DIACHI], [SODIENTHOAI], [TENNHACC]) VALUES (1, N'Hàn Quốc', N'18001111', N'Samsung')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [DIACHI], [SODIENTHOAI], [TENNHACC]) VALUES (2, N'Mỹ', N'18001111', N'Apple')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [DIACHI], [SODIENTHOAI], [TENNHACC]) VALUES (3, N'Trung Quốc', N'18001111', N'Xiaomi')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
USE [master]
GO
